body {
  background-color: #dde5ee;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.accordion {
  background-color: rgb(47, 83, 138);
  width: 90%;
  max-width: 700px;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
  padding: 15px;
}

.faq {
  margin: 15px 0;
  border-radius: 8px;
  overflow: hidden;
  border: none;
}

/* Blue only for the question bar */
.question {
  background-color: #1f2b3d;
  color: white;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 1.6rem;
}

/* White for the answer area */
.answer {
  background-color:  rgb(47, 83, 138);
  color: white;
  padding: 25px;
  display: none;
  font-size: 1.5rem;
  line-height: 1.6;
  
}

.faq.active .answer {
  display: block;
}

/* Arrow animation */
.arrow {
  transition: transform 0.3s;
}

.faq.active .arrow {
  transform: rotate(180deg);
}
